.home_social {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.home_social::after {
  content: '';
  width: 1px;
  height: 2rem;
  background: var(--primaryColor);
}

@media screen and (max-width: 768px) {
  home {
    height: 100vh;
  }

  .home_social, .scroll_down {
    display: none;
  }
}