@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --mainColor: #29335c;
  --mainColorLight: #4466eb;
  --primaryColor: #2a8ca4;
  --primaryColorDeep: #04375a;
  --color-bg: #2c2c6c;
  --secondaryColor: #db2b39;
  --textColor: #eee;
  --color-light: rgba(255, 255, 255, 0.6);
  --transition: all 400ms ease;
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-bg);
  color: var(--textColor);
  line-height: 1.7;
}

/* ======================== GENERAL STYLES ======================= */
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

section {
  margin-top: 8rem;
}

section > h2,
section > h5 {
  text-align: center;
  color: var(--color-light);
}

section > h2 {
  color: var(--color-light);
  margin-bottom: 3rem;
}

.text-light {
  color: var(--color-light);
}

a {
  color: var(--mainColorLight);
  transition: var(--transition);
}

a:hover {
  color: var(--secondaryColor);
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--mainColorLight);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--primaryColor);
}

.btn:hover {
  background: var(--mainColorLight);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-primary {
  background: var(--primaryColor);
  color: var(--color-bg);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* ============================ MEDIA QUERIES (MEDIUM DEVICES) ======================== */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 6rem;
  }
}

/* ============================ MEDIA QUERIES (SMALL DEVICES) ======================== */
@media screen and (max-width: 768px) {
  .container {
    width: var(--container-width-sm);
  }

  section > h2 {
    margin-bottom: 6rem;
  }
}
